.board {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 310px;
  height: 310px;
  margin: 0 auto;
  padding: 0;
  background-color: #696969;
  border-radius: 5px;
  list-style: none;
}
